@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post">

    <div>
        Usuario
        <input type="text"
               name="usuario" />
    </div>

    <br />

    <div>
        Contraseña
        <input type="password"
               name="clave" />
    </div>

    <br />

    <button type="submit">
        Ingresar
    </button>

</form>

@if (ViewBag.Error != null)
{
    <p>@ViewBag.Error</p>
}